In [ ]:
pip install tensorflow

Collecting tensorflow
  Using cached tensorflow-2.15.0-cp39-cp39-win_amd64.whl (2.1 kB)
Collecting tensorflow-intel==2.15.0
  Using cached tensorflow_intel-2.15.0-cp39-cp39-win_amd64.whl (300.8 MB)
Collecting opt-einsum>=2.3.2
  Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting tensorboard<2.16,>=2.15
  Using cached tensorboard-2.15.1-py3-none-any.whl (5.5 MB)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.3.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.3.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.26.2)
Collecting astunparse>=1.6.0
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1
  Using cached gast-0.5.4-py3-none-any.whl (19 kB)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (4.23.4)
Requirement already satisfied: libclang>=13.0.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (16.0.6)
Requirement already satisfied: setuptools in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (63.4.1)
Collecting absl-py>=1.0.0
  Using cached absl_py-2.0.0-py3-none-any.whl (130 kB)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (23.5.26)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.14.1)
Collecting grpcio<2.0,>=1.24.3
  Using cached grpcio-1.59.3-cp39-cp39-win_amd64.whl (3.7 MB)
Collecting google-pasta>=0.1.1
  Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: six>=1.12.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (1.16.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (0.31.0)
Requirement already satisfied: packaging in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (21.3)
Requirement already satisfied: keras<2.16,>=2.15.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (3.7.0)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow) (2.15.0)
Collecting ml-dtypes~=0.2.0
  Using cached ml_dtypes-0.2.0-cp39-cp39-win_amd64.whl (938 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.15.0->tensorflow) (0.37.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.0.3)
Requirement already satisfied: markdown>=2.6.8 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.3.4)
Collecting google-auth-oauthlib<2,>=0.5
  Using cached google_auth_oauthlib-1.1.0-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.7.2)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.28.1)
Collecting google-auth<3,>=1.6.3
  Using cached google_auth-2.23.4-py2.py3-none-any.whl (183 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\idrees arshad\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.15.0->tensorflow) (3.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\idrees arshad\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.2.8)
Collecting cachetools<6.0,>=2.0.0
  Using cached cachetools-5.3.2-py3-none-any.whl (9.3 kB)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\idrees arshad\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (4.9)
Collecting requests-oauthlib>=0.7.0
  Using cached requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\idrees arshad\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\idrees arshad\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\idrees arshad\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\idrees arshad\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (2022.9.14)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\idrees arshad\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\idrees arshad\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow-intel==2.15.0->tensorflow) (3.2.2)
Installing collected packages: opt-einsum, ml-dtypes, grpcio, google-pasta, gast, cachetools, astunparse, absl-py, requests-oauthlib, google-auth, google-auth-oauthlib, tensorboard, tensorflow-intel, tensorflow
Successfully installed absl-py-2.0.0 astunparse-1.6.3 cachetools-5.3.2 gast-0.5.4 google-auth-2.23.4 google-auth-oauthlib-1.1.0 google-pasta-0.2.0 grpcio-1.59.3 ml-dtypes-0.2.0 opt-einsum-3.3.0 requests-oauthlib-1.3.1 tensorboard-2.15.1 tensorflow-2.15.0 tensorflow-intel-2.15.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
  pip install keras

Requirement already satisfied: keras in c:\users\idrees arshad\anaconda3\lib\site-packages (2.15.0)Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.metrics import confusion_matrix

In [ ]:
data = pd.read_csv('Churn_Modelling.csv')

print(data.head())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

In [ ]:
import numpy as np
from sklearn.compose import ColumnTransformer
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
def label_encode_gender(gender):
    return 1 if gender == "Male" else 0

In [ ]:
data["Gender_encoded"] = data["Gender"].apply(label_encode_gender)
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_encoded
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,1
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,1
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,0
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0

In [ ]:
def one_hot_encode_geography(geography):
    if geography == "France":
        return [1, 0, 0]
    elif geography == "Spain":
        return [0, 1, 0]
    else:
        return [0, 0, 1]

In [ ]:
data["Geography_encoded"] = data["Geography"].apply(one_hot_encode_geography)
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_encoded,Geography_encoded
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,"[1, 0, 0]"
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,"[0, 1, 0]"
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,"[1, 0, 0]"
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,"[1, 0, 0]"
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,"[0, 1, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,1,"[1, 0, 0]"
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,1,"[1, 0, 0]"
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,0,"[1, 0, 0]"
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,"[0, 0, 1]"
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,"[1, 0, 0]"

In [ ]:
label_encoder = LabelEncoder()
dataset['Gender'] = label_encoder.fit_transform(dataset['Gender'])

In [ ]:
data['Geography_encoded'] = pd.to_numeric(data['Geography_encoded'], errors='coerce')

In [ ]:
X = data.drop(columns=['Exited', 'CustomerId', 'Surname', 'Geography','Gender'])
y = data['Exited']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print("\nTraining set:")
print(X_train)

Training set:
      RowNumber  CreditScore  Age  Tenure    Balance  NumOfProducts  \
9254       9255          686   32       6       0.00              2
1561       1562          632   42       4  119624.60              2
1670       1671          559   24       3  114739.92              1
6087       6088          561   27       9  135637.00              1
6669       6670          517   56       9  142147.32              1
...         ...          ...  ...     ...        ...            ...
5734       5735          768   54       8   69712.74              1
5191       5192          682   58       1       0.00              1
5390       5391          735   38       1       0.00              3
860         861          667   43       8  190227.46              1
7270       7271          697   51       1  147910.30              1

      HasCrCard  IsActiveMember  EstimatedSalary  Gender_encoded  \
9254          1               1        179093.26               1
1561          1               1        195978.86               1
1670          1               0         85891.02               1
6087          1               0        153080.40               0
6669          0               0         39488.04               1
...         ...             ...              ...             ...
5734          1               1         69381.05               1
5191          1               1           706.50               0
5390          0               0         92220.12               0
860           1               0         97508.04               1
7270          1               1         53581.14               1

      Geography_encoded
9254                NaN
1561                NaN
1670                NaN
6087                NaN
6669                NaN
...                 ...
5734                NaN
5191                NaN
5390                NaN
860                 NaN
7270                NaN

[8000 rows x 11 columns]

In [ ]:
print("\nTesting set:")
print(X_test)

Testing set:
      RowNumber  CreditScore  Age  Tenure    Balance  NumOfProducts  \
6252       6253          596   32       3   96709.07              2
4684       4685          623   43       1       0.00              2
1731       1732          601   44       4       0.00              2
4742       4743          506   59       8  119152.10              2
4521       4522          560   27       7  124995.98              1
...         ...          ...  ...     ...        ...            ...
6412       6413          602   53       5   98268.84              1
8285       8286          609   25      10       0.00              1
7853       7854          730   47       7       0.00              1
1095       1096          692   29       4       0.00              1
6929       6930          628   39       1  115341.19              1

      HasCrCard  IsActiveMember  EstimatedSalary  Gender_encoded  \
6252          0               0         41788.37               1
4684          1               1        146379.30               1
1731          1               0         58561.31               0
4742          1               1        170679.74               1
4521          1               1        114669.79               0
...         ...             ...              ...             ...
6412          0               1         45038.29               0
8285          0               1        109895.16               1
7853          1               0         33373.26               0
1095          1               0         76755.99               1
6929          1               1        107674.30               1

      Geography_encoded
6252                NaN
4684                NaN
1731                NaN
4742                NaN
4521                NaN
...                 ...
6412                NaN
8285                NaN
7853                NaN
1095                NaN
6929                NaN

[2000 rows x 11 columns]

In [ ]:
non_numeric_cols = dataset.select_dtypes(include=['object']).columns
X = dataset.drop(columns=non_numeric_cols)
y = dataset['Exited']

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\Idrees Arshad\anaconda3\lib\site-packages\sklearn\utils\extmath.py:985: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\Idrees Arshad\anaconda3\lib\site-packages\sklearn\utils\extmath.py:990: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\Idrees Arshad\anaconda3\lib\site-packages\sklearn\utils\extmath.py:1020: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction ** 2 / new_sample_count

In [ ]:
print("\nTraining set after feature scaling:")
print(X_train)

Training set after feature scaling:
[[ 1.4692775   0.35649971 -0.6557859  ...  1.36766974  0.91324755
          nan]
 [-1.19499359 -0.20389777  0.29493847 ...  1.6612541   0.91324755
          nan]
 [-1.15724427 -0.96147213 -1.41636539 ... -0.25280688  0.91324755
          nan]
 ...
 [ 0.13108128  0.86500853 -0.08535128 ... -0.1427649  -1.09499335
          nan]
 [-1.43776677  0.15932282  0.3900109  ... -0.05082558  0.91324755
          nan]
 [ 0.78217054  0.47065475  1.15059039 ... -0.81456811  0.91324755
          nan]]

In [ ]:
print("\nTesting set after feature scaling:")
print(X_test)

Testing set after feature scaling:
[[ 0.42961263 -0.57749609 -0.6557859  ... -1.01960511  0.91324755
          nan]
 [-0.11342351 -0.29729735  0.3900109  ...  0.79888291  0.91324755
          nan]
 [-1.1361185  -0.52560743  0.48508334 ... -0.72797953 -1.09499335
          nan]
 ...
 [ 0.98407747  0.81311987  0.77030065 ... -1.16591585 -1.09499335
          nan]
 [-1.35638061  0.41876609 -0.94100321 ... -0.41163463  0.91324755
          nan]
 [ 0.66407403 -0.24540869  0.00972116 ...  0.12593183  0.91324755
          nan]]

In [ ]:
model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [ ]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\Idrees Arshad\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Idrees Arshad\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

800/800 [==============================] - 14s 2ms/step - loss: 0.6154 - accuracy: 0.7945
Epoch 2/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7945
Epoch 3/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5142 - accuracy: 0.7945
Epoch 4/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5090 - accuracy: 0.7945
Epoch 5/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 6/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 7/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 8/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 9/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 10/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 11/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 12/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 13/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 14/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 17/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 18/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 19/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 20/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 21/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 23/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 24/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 25/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 28/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 29/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 30/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 31/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 32/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 33/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 34/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 35/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 36/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 37/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 38/100
800/800 [==============================] - 2s 3ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 39/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 40/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 41/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 42/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 43/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 46/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 47/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 48/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 49/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 50/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 51/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 52/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 53/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 55/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 56/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 57/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 58/100
800/800 [==============================] - 2s 3ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 59/100
800/800 [==============================] - 2s 3ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 61/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 62/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 63/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 65/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 66/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 67/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 68/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 69/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 70/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 71/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 72/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 73/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 74/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 75/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 76/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 77/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 79/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 80/100
800/800 [==============================] - 2s 3ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 81/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 82/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 83/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 85/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 87/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 88/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 89/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 91/100
800/800 [==============================] - 2s 3ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 92/100
800/800 [==============================] - 2s 3ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 96/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7945

In [ ]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 2s 6ms/step

In [ ]:
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[1607    0]
 [ 393    0]]

In [ ]:
accuracy = np.sum(y_test.values.reshape(-1, 1) == y_pred) / len(y_test)
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 80.35%

In [ ]:
new_prediction = model.predict(scaler.transform(np.array([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 50000]])))
print("Prediction for the new customer:", new_prediction)

1/1 [==============================] - 0s 29ms/step

C:\Users\Idrees Arshad\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Prediction for the new customer: [[0.20682807]]

In [ ]:
if new_prediction > 0.5:
    print("The customer will leave the bank.")
else:
    print("The customer will stay in the bank.")

The customer will stay in the bank.

In [ ]:
from keras.preprocessing.image import ImageDataGenerator

In [ ]:
train_datagen = ImageDataGenerator(rescale = 1./255,
                                   shear_range = 0.2,
                                   zoom_range = 0.2,
                                   horizontal_flip = True)

In [ ]:
training_set = train_datagen.flow_from_directory('Desktop/dataset/dataset/training_set',
                                                 target_size = (64, 64),
                                                 batch_size = 32,
                                                 class_mode = 'binary')

Found 8000 images belonging to 2 classes.

In [ ]:
test_datagen = ImageDataGenerator(rescale = 1./255)

In [ ]:
test_set = test_datagen.flow_from_directory('Desktop/dataset/dataset/test_set',
                                            target_size = (64, 64),
                                            batch_size = 32,
                                            class_mode = 'binary')

Found 2000 images belonging to 2 classes.

In [ ]:
from keras.layers import Conv2D, MaxPooling2D, Flatten

In [ ]:
cnn = Sequential()

In [ ]:
cnn.add(Conv2D(32, (3, 3), input_shape = (64, 64, 3), activation = 'relu'))

In [ ]:
cnn.add(MaxPooling2D(pool_size = (2, 2)))

WARNING:tensorflow:From C:\Users\Idrees Arshad\anaconda3\lib\site-packages\keras\src\layers\pooling\max_pooling2d.py:161: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

In [ ]:
cnn.add(Conv2D(32, (3, 3), activation = 'relu'))
cnn.add(MaxPooling2D(pool_size = (2, 2)))

In [ ]:
cnn.add(Flatten())

In [ ]:
cnn.add(Dense(units = 128, activation = 'relu'))

In [ ]:
cnn.add(Dense(units = 1, activation = 'sigmoid'))

In [ ]:
cnn.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
cnn.fit(x = training_set, validation_data = test_set, epochs = 25)

Epoch 1/25
250/250 [==============================] - 69s 229ms/step - loss: 0.6654 - accuracy: 0.5972 - val_loss: 0.6388 - val_accuracy: 0.6405
Epoch 2/25
250/250 [==============================] - 96s 385ms/step - loss: 0.6077 - accuracy: 0.6725 - val_loss: 0.5659 - val_accuracy: 0.7080
Epoch 3/25
250/250 [==============================] - 49s 197ms/step - loss: 0.5554 - accuracy: 0.7196 - val_loss: 0.5245 - val_accuracy: 0.7435
Epoch 4/25
250/250 [==============================] - 49s 195ms/step - loss: 0.5276 - accuracy: 0.7336 - val_loss: 0.5197 - val_accuracy: 0.7535
Epoch 5/25
250/250 [==============================] - 49s 197ms/step - loss: 0.5020 - accuracy: 0.7544 - val_loss: 0.4883 - val_accuracy: 0.7655
Epoch 6/25
250/250 [==============================] - 50s 199ms/step - loss: 0.4780 - accuracy: 0.7710 - val_loss: 0.4748 - val_accuracy: 0.7810
Epoch 7/25
250/250 [==============================] - 50s 201ms/step - loss: 0.4640 - accuracy: 0.7793 - val_loss: 0.4766 - val_accuracy: 0.7825
Epoch 8/25
250/250 [==============================] - 50s 199ms/step - loss: 0.4553 - accuracy: 0.7786 - val_loss: 0.4818 - val_accuracy: 0.7665
Epoch 9/25
250/250 [==============================] - 50s 199ms/step - loss: 0.4340 - accuracy: 0.7949 - val_loss: 0.4703 - val_accuracy: 0.7840
Epoch 10/25
250/250 [==============================] - 50s 201ms/step - loss: 0.4288 - accuracy: 0.8014 - val_loss: 0.5670 - val_accuracy: 0.7385
Epoch 11/25
250/250 [==============================] - 49s 197ms/step - loss: 0.4155 - accuracy: 0.8056 - val_loss: 0.4526 - val_accuracy: 0.7925
Epoch 12/25
250/250 [==============================] - 49s 198ms/step - loss: 0.4033 - accuracy: 0.8124 - val_loss: 0.4483 - val_accuracy: 0.7990
Epoch 13/25
250/250 [==============================] - 57s 229ms/step - loss: 0.3878 - accuracy: 0.8254 - val_loss: 0.5080 - val_accuracy: 0.7740
Epoch 14/25
250/250 [==============================] - 54s 215ms/step - loss: 0.3752 - accuracy: 0.8289 - val_loss: 0.4402 - val_accuracy: 0.8045
Epoch 15/25
250/250 [==============================] - 56s 226ms/step - loss: 0.3582 - accuracy: 0.8421 - val_loss: 0.4793 - val_accuracy: 0.7915
Epoch 16/25
250/250 [==============================] - 57s 226ms/step - loss: 0.3439 - accuracy: 0.8435 - val_loss: 0.4972 - val_accuracy: 0.7815
Epoch 17/25
250/250 [==============================] - 165s 662ms/step - loss: 0.3349 - accuracy: 0.8519 - val_loss: 0.4625 - val_accuracy: 0.8095
Epoch 18/25
250/250 [==============================] - 55s 219ms/step - loss: 0.3184 - accuracy: 0.8610 - val_loss: 0.4532 - val_accuracy: 0.8205
Epoch 19/25
250/250 [==============================] - 50s 199ms/step - loss: 0.3188 - accuracy: 0.8614 - val_loss: 0.5143 - val_accuracy: 0.7985
Epoch 20/25
250/250 [==============================] - 50s 200ms/step - loss: 0.3021 - accuracy: 0.8676 - val_loss: 0.4711 - val_accuracy: 0.8085
Epoch 21/25
250/250 [==============================] - 50s 198ms/step - loss: 0.2954 - accuracy: 0.8769 - val_loss: 0.4876 - val_accuracy: 0.8070
Epoch 22/25
250/250 [==============================] - 50s 199ms/step - loss: 0.2833 - accuracy: 0.8795 - val_loss: 0.4825 - val_accuracy: 0.8110
Epoch 23/25
250/250 [==============================] - 50s 200ms/step - loss: 0.2693 - accuracy: 0.8821 - val_loss: 0.4964 - val_accuracy: 0.8035
Epoch 24/25
250/250 [==============================] - 50s 198ms/step - loss: 0.2645 - accuracy: 0.8899 - val_loss: 0.5223 - val_accuracy: 0.7970
Epoch 25/25
250/250 [==============================] - 49s 197ms/step - loss: 0.2457 - accuracy: 0.9019 - val_loss: 0.4673 - val_accuracy: 0.8190

In [ ]:
from keras.preprocessing import image

In [ ]:
test_image = image.load_img('Desktop/dataset/dataset/single_prediction/cat_or_dog_1.jpg', target_size = (64, 64))
test_image = image.img_to_array(test_image)
test_image = np.expand_dims(test_image, axis = 0)
result = cnn.predict(test_image)
if result[0][0] == 1:
    prediction = 'dog'
else:
    prediction = 'cat'

print(prediction)

1/1 [==============================] - 0s 34ms/step
dog

In [ ]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from collections import Counter

In [ ]:
data = pd.read_csv("reddit-comments-2015-08.csv")
data.head()

                                                body
0  I joined a new league this year and they have ...
1  In your scenario, a person could just not run ...
2  They don't get paid for how much time you spen...
3  I dunno, back before the August update in an A...
4  No, but Toriyama sometimes would draw himself ...

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Idrees
[nltk_data]     Arshad\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
sentences = [sent_tokenize(comment) for comment in data['body']]
tokens = [[word.lower() for word in word_tokenize(' '.join(sentence)) if word.isalpha()] for sentence in sentences]
stop_words = set(stopwords.words('english'))
tokens = [[word for word in sentence if word not in stop_words] for sentence in tokens]

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Idrees
[nltk_data]     Arshad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
word_counts = {}
for sentence in tokens:
    for word in sentence:
              word_counts[word] = word_counts.get(word, 0) + 1

min_word_frequency = 5
tokens = [[word for word in sentence if word_counts[word] >= min_word_frequency] for sentence in tokens]

In [ ]:
X_train, X_test = train_test_split(tokens, test_size=0.2, random_state=42)

In [ ]:
word_dim = 100
hidden_dim = 50
output_dim = 1
bptt_truncate = 4

In [ ]:
U = np.random.uniform(-np.sqrt(1./word_dim), np.sqrt(1./word_dim), (hidden_dim, word_dim))
V = np.random.uniform(-np.sqrt(1./hidden_dim), np.sqrt(1./hidden_dim), (output_dim, hidden_dim))
W = np.random.uniform(-np.sqrt(1./hidden_dim), np.sqrt(1./hidden_dim), (hidden_dim, hidden_dim))

In [ ]:
def custom_sigmoid(x):
    return 1 / (1 + np.exp(-x))

def custom_forward_propagation(sentence, U, V):
    T = len(sentence)
    h = np.zeros((T + 1, hidden_dim))
    h[-1] = np.zeros(hidden_dim)
    y_hat = np.zeros(T)

    for t in range(T):
        h[t] = custom_sigmoid(np.dot(U, custom_word_to_vec(sentence[t])))
        y_hat[t] = custom_sigmoid(np.dot(V, h[t]))

    return y_hat, h

In [ ]:
custom_word_to_index = {word: index for index, word in enumerate(word_counts.keys())}
custom_index_to_word = {index: word for word, index in custom_word_to_index.items()}

In [ ]:
def word_to_vec(word):
    return np.random.uniform(-1, 1, (word_dim,))

def calculate_loss(y_hat, y_true):
    return -np.sum(y_true * np.log(y_hat) + (1 - y_true) * np.log(1 - y_hat))

In [ ]:
num_epochs = 10
learning_rate = 0.01
for epoch in range(num_epochs):
    total_loss = 0
    for sentence in X_train:
        y_hat, h = custom_forward_propagation(sentence,U,V)
        y_true = np.zeros(len(sentence))
        loss = calculate_loss(y_hat, y_true)
        total_loss += loss

C:\Users\Idrees Arshad\AppData\Local\Temp\ipykernel_27208\4028197041.py:12: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  y_hat[t] = custom_sigmoid(np.dot(V, h[t]))

In [ ]:
 print(f'Epoch {epoch + 1}/{num_epochs}, Loss: {total_loss / len(X_train)}')

Epoch 10/10, Loss: 26.548509711452283

In [ ]:
for epoch in range(num_epochs):
    total_loss = 0
    correct_predictions = 0
    total_predictions = 0

    for sentence in X_train:
        y_hat, h = custom_forward_propagation(sentence,U,V)
        y_true = np.zeros(len(sentence))
        predicted_labels = (y_hat > 0.5).astype(int)
        correct_predictions += np.sum(predicted_labels == y_true)
        total_predictions += len(sentence)
        loss = calculate_loss(y_hat, y_true)
        total_loss += loss

    accuracy = correct_predictions / total_predictions
    print(f'Epoch {epoch + 1}/{num_epochs}, Loss: {total_loss / len(X_train)}, Accuracy: {accuracy * 100:.2f}%')

C:\Users\Idrees Arshad\AppData\Local\Temp\ipykernel_27208\4028197041.py:12: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  y_hat[t] = custom_sigmoid(np.dot(V, h[t]))

Epoch 1/10, Loss: 26.549383433443268, Accuracy: 61.11%
Epoch 2/10, Loss: 26.547728884420888, Accuracy: 61.24%
Epoch 3/10, Loss: 26.55144571033528, Accuracy: 60.92%
Epoch 4/10, Loss: 26.55199323692024, Accuracy: 60.92%
Epoch 5/10, Loss: 26.549796182210848, Accuracy: 61.01%
Epoch 6/10, Loss: 26.549407150827633, Accuracy: 61.02%
Epoch 7/10, Loss: 26.550596527436667, Accuracy: 60.99%
Epoch 8/10, Loss: 26.551008596508346, Accuracy: 60.94%
Epoch 9/10, Loss: 26.550202561819436, Accuracy: 60.97%
Epoch 10/10, Loss: 26.551321162660663, Accuracy: 60.97%